{
    "extends": "eslint-config-davinci",
    "rules": {
        "import/no-unresolved": "off",
        "no-prototype-builtins": "off",
        "no-param-reassign": "off",
        "no-use-before-define": "off",
        "no-restricted-syntax": "off",
        "no-nested-ternary": "off"
    }
}
